body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Navbar */

.navbar li{
    display: inline;
}

.navbar a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    color: #212121;
}

a:hover{
    text-decoration: underline;
}

ul{
    padding-left: 0;
}

/* Google Logo and Search bar */

.logo {
    text-align: center;
    margin-top: 200px;
}

.searchbarcontainer {
    text-align: center;
    padding-top: 20px;
} 

.searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 25px;
    width: 450px;
    border-radius: 20px;
    border: 2px solid #c4c4c4;
    outline: 0;
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    background: #eee
}

.button:hover {
    box-shadow: 0 0 2px 1px #000000;
    border: 2px solid #eeeeee;
}

/* Footer */

.footer-content {
    display: block;
    overflow: hidden;
    background-color: #f2f2f2;
    align-content: center;
    margin-top: 850px;
    padding: 3px 10px;
    border: 1px solid #dadce0;
    text-align: center;
}

.footer li {
    display: inline;
}

.footer a{ 
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    color: #70757a;
}

a:hover {
    text-decoration: underline;
}

.footer ul {
    position: fixed;
    bottom: 0;
    width: 100%;
}